# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alexis_marechal <michalex37@proton.me>     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/05/05 23:39:26 by alexis_marech     #+#    #+#              #
#    Updated: 2026/05/05 23:39:26 by alexis_marech    ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

biling
