# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: alexis_marechal <michalex37@proton.me>     +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2026/05/05 23:39:26 by alexis_marech     #+#    #+#              #
#    Updated: 2026/05/06 01:05:22 by selkij           ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

billing
bin/
obj/
